.firstButton {
    -fx-border-radius: 20px ;
    -fx-border-style: solid;
    -fx-border-color: #FF4B2B;
    -fx-border-width: 1px;
    -fx-background-color: #FF4B2B;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 12px 45px;
    -fx-letter-spacing: 1px;
    -fx-text-transform: uppercase;
    -fx-transition: transform 80ms ease-in;
}

.secondButton {
    -fx-border-radius: 20px ;
    -fx-border-style: solid;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 12px 45px;
    -fx-letter-spacing: 1px;
    -fx-text-transform: uppercase;
    -fx-transition: transform 80ms ease-in;
}

.firstButton:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.firstButton:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.firstButton.ghost {
    -fx-background-color: transparent;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-text-fill: #FFFFFF;
}

.container {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 20, 0, 0, 14);
    -fx-pref-width: 768px;
    -fx-min-height: 480px;
    -fx-max-width: Infinity;
}

.form-container {
    -fx-anchor-top: 0;
    -fx-anchor-bottom: 0;
    -fx-pref-width: 50%;
}

#rootPane {
    -fx-background-image: url("images/loginScreenBackground.jpg");
}